<!DOCTYPE html>
<html>
<head>
  <title>Hack3san</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
<script type="text/javascript">
//<![CDATA[
    jQuery(document).ready(function(){
        // Login form validation
        $('#form-login').validate();
    });
//]]>
</script>
</head>
<body>

<%= yield %>

</body>
</html>
